[submodule "external/mypy"]
	path = external/mypy
	url = https://github.com/zanellia/mypy
[submodule "external/blasfeo"]
	path = external/blasfeo
	url = git@github.com:zanellia/blasfeo.git
	branch = master
